# Copyright (c) Blecon Ltd
# SPDX-License-Identifier: Apache-2.0

menu  "Blecon Sensor (ML)"
DT_CHOSEN_BLECON_LED_GESTURE_1 := blecon,led-gesture-1
DT_CHOSEN_BLECON_LED_GESTURE_2 := blecon,led-gesture-2
config LED_GESTURE
    bool "Enable LED pattern on gesture detection"
    default y if $(dt_chosen_enabled,$(DT_CHOSEN_BLECON_LED_GESTURE_1)) && $(dt_chosen_enabled,$(DT_CHOSEN_BLECON_LED_GESTURE_2))
config REPORTING_PERIOD_SEC
    int "Reporting period (seconds)"
    default 300
config LEDS_ENABLED_DURATION_MIN
    int "How long should LEDs be enabled for after button press (minutes)"
    default 720
endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu